.homepage {
    justify-content: center;
    background-image: url("https://media.discordapp.net/attachments/672354730814734336/994520362261950524/Background.png?width=1178&height=662");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}