.navbar {
    display: flex;
    background-color: black;
    padding: 5px;
    border-bottom: 2px solid grey;
    justify-content: space-around;
}

.stories {
   margin: 20px 5%;
   padding: 10px;
   text-decoration: none;
}

.stories:hover {
    color: black;
    background-color: white;
}

.interviews {
    margin: 20px 5%;
    text-decoration: none;
}

.logo {
    margin: 10px 5%;
    text-decoration: none;
}

.opinions {
    margin: 20px 5%;
    text-decoration: none;
}

.skillbans {
    margin: 20px 5%;
    padding: 10px;
    text-decoration: none;
}
